<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="34"
        tools:ignore="GradleOverrides" />

    <!-- permissions for Application -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".app.application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".Services.SrvLocation"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".views.FrmTrip"
            android:exported="false" />
        <activity
            android:name=".views.FrmSearchingTaxi"
            android:exported="false" />
        <activity
            android:name=".views.FrmShowPrice"
            android:exported="false" />
        <activity
            android:name=".views.FrmTrips"
            android:exported="false"
            android:label="@string/list_trips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.FrmSpashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.FrmInputActiveCode"
            android:exported="false" />
        <activity
            android:name=".views.FrmLogin"
            android:exported="false" />
        <activity
            android:name=".views.MainActivity"
            android:exported="true" />
    </application>

</manifest>